
body{
background-image: url(../image/wallhaven-nmmvvk.jpg ) ;
background-size: 100%;
}
h2,p li {color: white;
text-align: center;
margin: 0;
padding: 20px 0;
text-shadow: 3px 3px 1px black;}
header nav {
	background: indianred;
	overflow: hidden;
	border-radius: 10px;}
header nav ul{
	list-style: none;}
header nav ul li{
	float: left;
	border: solid; blue;
	border-style: outset;
	border-radius: 6px; }
header nav ul li a{
	text-align: center;
	padding: 10px 70px;
	display: block;
	color: white;
	text-decoration: none;}
input, select, textarea {font-family: inherit;
font-size: 90%;
color: darkslateblue;}

form {
  position: relative;

  width  : 69%;
  height : 50%;
  margin : 0 auto;
	border: 1px solid black;
	border-radius: 10px;
	padding-top: 20px;
	background: ghostwhite;}
.areatexto {
	text-align: center;
	padding-left: 240px;
}
.btn  {
	border: solid blue ;
	border-radius: 10px;

}
div {
	text-align: center;
	padding-top: 10px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;}

